<div class="demo-container mdl-grid">
  <div class="mdl-cell mdl-cell--2-col mdl-cell--hide-tablet mdl-cell--hide-phone"></div>
  <div class="demo-content mdl-color--white mdl-shadow--4dp content mdl-color-text--grey-800 mdl-cell mdl-cell--8-col">
    <div class="demo-inner-center">
    <div class="demo-crumbs mdl-color-text--grey-500">
      Angular CLI &gt; Angular 2 &gt; Material Design Lite &gt; How to Angular 2 Cheat Sheet
    </div>
    <div class="demo-card-wide mdl-card mdl-shadow--2dp demo-margin-top">
      <div class="mdl-card__title">
        <h2 class="mdl-card__title-text Medium 13sp">Angular 2 may all your dreams come true</h2>
      </div>
      <div class="mdl-card__supporting-text">
       Powered with ♥ by Angular CLI, Angular 2 and Material Design Lite
      </div>
      <div class="mdl-card__actions mdl-card--border">
        <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
      <a href="https://angular.io/docs/ts/latest/tutorial/" target="_blank">Join our Hero Team as we free the world from closed source</a>
    </a>
      </div>
      <div class="mdl-card__menu">
        <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
      <i class="material-icons">share</i>
    </button>
      </div>
    </div>
</div>


    <div class="demo-margin-top">
      <img src="../../images/angular-global-1.PNG" class="demo-inner-center-photos">
    </div>
     <div class="demo-margin-top">
      <img src="../../images/angular-global-2.PNG" class="demo-inner-center-photos">
    </div>
     <div class="demo-margin-top">
      <img src="../../images/angular-global-3.PNG" class="demo-inner-center-photos">
    </div>
      <div class="demo-margin-top">
      <img src="../../images/angular-global-3a.PNG" class="demo-inner-center-photos">
    </div>
     <div class="demo-margin-top">
      <img src="../../images/angular-global-4.PNG" class="demo-inner-center-photos">
    </div>
     <div class="demo-margin-top">
      <img src="../../images/angular-global-5.PNG" class="demo-inner-center-photos">
    </div>
     <div class="demo-margin-top">
      <img src="../../images/angular-global-6.PNG" class="demo-inner-center-photos">
    </div>
     <div class="demo-margin-top">
      <img src="../../images/angular-global-7.PNG" class="demo-inner-center-photos">
    </div>
     <div class="demo-margin-top">
      <img src="../../images/angular-global-8.PNG" class="demo-inner-center-photos">
    </div>
     <div class="demo-margin-top">
      <img src="../../images/angular-global-9.PNG" class="demo-inner-center-photos">
    </div>
    <div class="demo-margin-top">
      <img src="../../images/angular-global-9a.PNG" class="demo-inner-center-photos">
    </div>
     <div class="demo-margin-top">
      <img src="../../images/angular-global-10.PNG" class="demo-inner-center-photos">
    </div>
    <div class="demo-margin-top">
      <img src="../../images/angular-global-10a.PNG" class="demo-inner-center-photos">
    </div>
     <div class="demo-margin-top">
      <img src="../../images/angular-global-11.PNG" class="demo-inner-center-photos">
    </div>
     <div class="demo-margin-top">
      <img src="../../images/angular-global-12.PNG" class="demo-inner-center-photos">
    </div>
     <div class="demo-margin-top">
      <img src="../../images/angular-global-13.PNG" class="demo-inner-center-photos">
    </div>
     <div class="demo-margin-top">
      <img src="../../images/angular-global-14.PNG" class="demo-inner-center-photos">
    </div>
     <div class="demo-margin-top">
      <img src="../../images/angular-global-15.PNG" class="demo-inner-center-photos">
    </div>

</div>


  </div>
